/* === 1. Section Backgrounds for Cyberlab === */
  .hero {
    background: #482860; /* Dark blue/black gradient */
  }
  
  .job {
    background: #D35C64;
  }

  .freelance {
    background: #347092;
  }
  
  .closing-end {
    background: #252868;
  }

  a:hover {
    color: #ff4d4d; /* Lighter red on hover */
  }
  
  a:visited {
    color: #9b59b6; /* Purple for visited links */
  }
  
  em {
    color: #db2e2e;
  }